OTEL_EXPORTER_OTLP_HEADERS=x-otlp-api-key=542d2001e7c1c71d06e69dc68f25a9c0
ConnectionStrings__cache=cache:6379
ConnectionStrings__webhooks= Server=defaultconnection;Database=WebhooksProd;TrustServerCertificate=True;MultipleActiveResultSets=true; User Id=sa; Password=Ablaze_Hyperlink_Friction2_Durably